/* Общие стили для каруселей */
.carousel {
	background-color: #333;
}
.arrow {
	width: 17px;
	height: 35px;
	margin-top: 53px;
	cursor: pointer;
}
.arrow-left {
	float: left;
	margin-left: 12px;
	background: url(../images/arrow-l.png) no-repeat left;
}
.arrow-right {
	float: right;
  margin-right: 12px;
	background: url(../images/arrow-r.png) no-repeat right;
	z-index: 300;
}
.arrow-left:hover {
	background: url(../images/active_arrow-l.png) no-repeat left;
}
.arrow-right:hover {
	background: url(../images/active_arrow-r.png) no-repeat right;
}

/* Верхняя карусель */
.top_carousel {
	height: 141px;
	margin: 0 auto 20px;
	width: 960px;
}
#top_carousel_ul {
	margin-left: 8px;
	width: 10000px;
	position: relative;
}
.top_carousel_li {
	background: url(../images/carousel_border.png) no-repeat;
	float: left;
	width: 124px;
	padding-top: 7px;
	margin-right: 3px;
}
.wrapper_top_carusel {
	width: 900px;
  overflow: hidden;
  float: left;
  height: 141px;
}